@import 'compass';

/* Brand Colors */
$colorNormal:  #00c322;
$colorLight:   #38E156;
$colorLighter: #65E17B;
$colordark:    #259238;
$colordarker:  #007F16;

/* Sizes */
$footerHeight: 36px;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300&subset=latin,cyrillic,latin-ext,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700,400italic);